h1 {
    text-align: center;
}
table{ 
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;

}

.vertical{
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin: 0 auto;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
