body {
    max-width: 700px;
    width: 80%;
    border: 20px solid #bdc3c7;
    margin: 20px auto;
    font-family: "Source Sans Pro";
    padding: 20px;
}

h3 {
    color: #3489db;
    text-transform: uppercase;
}

h1 {
    color: #2c3e50;
    font-weight: 700;
}

.firstp {
    border-left: 3px solid #bdc3c7;
    padding-left: 5px;
}
