body {
    font-family: 'roboto', sans-serif;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

#container {
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background-color: #2980e9;
    color: #ffffff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #ffffff;
}

input:focus {
    background: #2980e9;
    border: 3px solid #2980e9
    outline: none;
}